@import "tailwindcss";
@plugin "daisyui" {
  logs: false;
}

* {
  font-family: var(--font-outfit);
}

/* Remove arrows from number inputs */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Remove success color from validator input when the value is valid */
@utility validator {
  &:user-valid,
  &:has(:user-valid) {
    &,
    &:focus,
    &:checked,
    &[aria-checked="true"],
    &:focus-within {
      --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
    }
  }
}
